/*____________Table of contents__________*/

/*
-> General Styles
-> Header
-> Navigation
-> Typography
-> Media
-> Layout
-> Media Query
*/

/*_________ General Styles__________*/

html {
	box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}


/*_________ Header__________*/
header{
    /* background-image: url(../images/background.png); */
    background-position: top right;
}
header img{
    max-width:300px ;
}
.main-header h2{
    margin: 0;
     color: #fff;
}
span#colored-text{
    color: goldenrod;
}
/*_________ Navigation__________*/

ul.main-navigation{
    list-style-type: none;
    margin: 0;
}
ul.main-navigation li a:hover{
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
}

/*_________ Typography__________*/

.josefin-font{
    font-family: 'Josefin Sans', sans-serif;
}
.white-text, #para2 > *, .social-icons > *{
    color: #fff;
}
.blue-text {
    color: #0028ff;
}
.golden-text{
    color: goldenrod;
}
ul.main-navigation li a, ul.main-navigation li,
#para2 > *{
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7rem;
    text-decoration: none;
}
.bold-section p{
    font-family: 'Josefin Sans', sans-serif;
}
a#underlined-link{
    text-decoration: underline;
}
 .bold-section p#boldest{
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0;
}
span#underlined{
    text-decoration: underline;
}
#boldest{
    width: 80%;
    line-height: 1;
}
#para1{
    line-height: 1.6;
    width: 70%;
    color: #fff;
}
.gray-para{
    line-height: 1.6;
    font-size: .7em;
    color: gray;
    font-weight: 10px;
    width: 80%;
}
figure.col p i{
    color: #eebb4d;
}
.custom-line-height{
    line-height: 1.7;
}
.smaller-font{
    font-size: .6rem;
    line-height: .9;
    font-weight: 5px;
}
.small-font{
    line-height: .9;
    font-weight: 10px;
    font-size: .8rem;
}
.smallest-font{
    font-size: .7rem;
    color: lightblue;
    line-height: 1;
}
/*_________ Media__________*/

.login, .signup, .button{
    border-width: 0;
    padding:15px 30px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.login{
    background-color: #4d7b8554;
}
.signup{
    margin-left: -10px;
    background-color: goldenrod;
}
.button{
    background-color: goldenrod;
}
.row-2-button{
    background-color: #0028ff;
    border-width: 0;
    padding: 15px;
    border-radius: 5px;
}
.apple-button{
    background-color: #4d7b8554;
}
.icon-image-container img.row-4-icons{
    width: 150px;
}
.row-4-outer-1 p, .FAQ p{
    line-height: 1.5;    
    }
    .col-3button-long{
        background-color: #4d7b8554;
        border-width: 0;
        padding:15px 50px 15px 15px;
        border-radius: 5px;
    }
    .col-3button{
        background-color: goldenrod;
        border-width: 0;
        padding:15px 10px;
        border-radius: 5px;
    }
    .social-icons i{
        border: 2px solid lightblue;
        border-radius: 100%;
        padding: 10px;
        margin-right: 15px;
    }
/*_________ Layout__________*/
/*________Row 1 __________*/

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.container > * {
    grid-column: 1 / span 12;
}

.row-1 {
    gap: 5%;
    margin: 0;
    padding: 1% 0 1% 5%;
    background-color: #0028ff; 
    /*background-color: #366ed8; */ 
    background-image: 
    -webkit-linear-gradient(130deg,#0028ff 50%, #366ed8 50%);
}
.row-1 > * {
	/*border: 1px solid #000; */
	/* padding: 1%;  */
}

/*______Row 2 ________*/

.row-2{
    gap: 5% 5%;
    padding: 1% 5%;
}

.customers{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}
.figures{
    color: goldenrod;
}
.item{
    /* border: 1px solid black; */
}
.col{
    margin: 0;
    text-align: center;
    /* padding: 1.5% 3%; */
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}
.col p{
    text-align: center;
    margin: 0 auto;
     width: 74%; 
}

/*______Row 3______*/

.row-3{
    position: relative;
    padding: 5% 5%;
    background-color: #0028ff;
    background-image: 
    -webkit-linear-gradient(130deg,#0028ff 50%, #366ed8 50%); 
}

/*______Row-4______*/

.row-4-outer-1{
    padding: 5% 5% 0 5%;
    text-align: center;
}
.row-4{
    padding: 2% 5%;;
}
.icon-image-container{
    text-align: center;
}
/* __________Row 5 ________ */

    .row-5-outer{
        text-align: center;
    }
    .row-5-outer p {
        line-height: 2;
    }
    .row-5{
        padding:5% 5% 1%;
        background-color: #0028ff;
        background-image: 
        -webkit-linear-gradient(130deg,#0028ff 50%, #366ed8 50%); 
    }
    .row-5-flex{
        padding: 3% 0;
    }
    .row-5-flex div.outer{
        position: relative;
        text-align: center;
        width: 280px;
        height: 300px;
        border: 1px solid lightblue;
        border-radius: 4px;
    } 
    .row-5-flex div.inner{
        position: relative;
        top: 30px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        border: 1px solid lightblue;
        border-radius: 4px;
        width: 120px;
        height: 140px;
    }
    div.outer-blue{
        background-color: white;
        position: relative;
        text-align: center;
        width: 280px;
        height: 320px;
        border-radius: 4px;
    }
    div.inner-blue{
        position: relative;
        top: 42px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        border: 1px solid blue;
        border-radius: 4px;
        width: 120px;
        height: 140px;        
    }
    .row-5-flex div.inner > *, .inner-blue > * {
        line-height: 0.8;
    }
    /* ______Row 6__________ */
    .row-6{
        padding: 3% 5%;
        position: relative;
    }
    .row-6-flex-item{
        text-align: center;
    }
    .row-6-flex-item h2{
        line-height: 0.5;
    }

    .with-shadow{
    padding: 10px;   
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    }

    .row-6-outer{
        padding: 2% 0 0 0;
        text-align: center;
    }
    .row-6-flex-container-2{
        padding: 0 10%;
    }
    .gray-div{
        position: relative;
        top: 200px;
        padding: 3% 10%;
        background-color: lightgrey;
        text-align: center;
    }
    .col-two p, .col-two h2{
        text-align: start;
    }
    .FAQ{
        padding-bottom: 3%;
        text-align: center;
    }
    .row-7{
        padding: 15% 5% 5% 5%;
        background-color: #0028ff;
    }
    footer{
        background-color: black;
        color: #fff;
        padding: 5px 5%;
        display: flex;
        justify-content: space-between;
    }
/*_________ Media Query__________*/
@media (min-width: 800px)   {
    /*_____Row 1 _____*/
    .main-header{
        grid-column: 1 / span 3;
    }
    .main-navigation{
        grid-column: 4 / span 7;
    }
    .bold-section{
        grid-column: 2 / span 5;
        grid-row: 2;
    }
    .img-section{
        grid-column: 7 / span 6;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*_____Row 2 _____*/

    .icon-container{
        grid-column: 2 /span 11;
    }
    .amazing-features{
        grid-column: 2 /span 4;
        grid-row: 2;
    }
    .guidelines{
        grid-column: 7 / span 3;
        grid-row: 2;
    }
    .boxes{
        grid-column: 2 / span 4;
        grid-row: 3 / 4;
    }
    .proper-guide{
        grid-column: 7 / span 4;
        grid-row: 3 / 4;
    }
    .row-2-header{
        width: 70%;
    }
    .row{
        display: flex;
        justify-content: space-between;
        
    }
    .row:last-of-type{
        margin-top: 10px;
    }
    .col{
        padding: 10% 8%;
        flex-basis: 47%;
    }
    .col-2{
        background-color:#0028ff;
        color: #fff;
    }
    /*______Row 3_____*/
    .download-app{
        grid-column: 2 / span 4;
        color: #fff;
    }
    .only-image{
        grid-column: 7 / span 4;
        position: relative;
        top: 28%;
    }
    /*__________Row 4__________*/
    
    .icon-images{
        grid-column: 1 / span 12;
        display: flex;
        justify-content: space-between;
    }
    .two-phones{
        grid-column: 1 /span 7;
    }
    .super-clean{
        grid-column: 9 / span 4;
    }
    /* ____Row 5________ */
    .row-5-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*______Row 6 ________*/

    .row-6-flex-container-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row-6-flex-container-2{
        display: flex;
        align-items: center;
    }
    .row-6-flex-container-2 p{
        width: 70%;
    }
    .r6fc{
        display: flex;
        justify-content: space-between;
    }
    .col-two{
        flex-basis: 47%;
    }
    /* _____Row-7_______ */
    .row-7-flex{
        display: flex;
        justify-content: space-between;
    }
    .col-3{
    }
}